@for (field of fieldsToDisplay(); track field.id) {
  @if (!field.hidden) {
    <div class="mb-f3 {{field?.props?.className}}">
      @if (field?.key) {
        @if (form.controls[field.key]; as control) {
          @if (field.props.label && !field.props.customLabel) {
            <label [attr.for]="field?.id" class="form-label">
              {{ field.props.label }}@if (field?._validators?.required){*}
            </label>
          }
    
          <ng-container *ngComponentOutlet="field.component; inputs: {form, field, model}" /> 
  
          @if (form.sent || control.invalid && control.touched) {
            @for (error of control.errors | keyvalue; track $index) {
              <small class="text-danger d-block">
                {{error?.key}}
                <!-- {{error.key | translate: {prefix: 'validators', variables: error.value} }} -->
              </small>
            }
          }
        }
      }
    
      @if (!field.key && field.fields){
        <nq-formly-field [fields]="field.fields" [form]="form" [model]="model" class="mb-f3 {{field?.props?.wrappClassName}}"></nq-formly-field>
      }
  
      @if (field?.props?.description) {
        <small class="text-muted">{{ field.props.description }}</small>
      }
  
    </div>

  }



}
